# cmd for create req.. file
#  python -m pipreqs.pipreqs --encoding=utf8 --force ./

openai==0.28.0
Pillow==10.0.0
Pillow==10.2.0
PyAutoGUI==0.9.54
pytest==7.4.2
pyttsx3==2.90
selenium==4.17.2
SpeechRecognition==3.10.0
